sourceCode/smartCity/SmartCity_Project/CommonModel/UserSchema/UserLoginResp.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/smatcity/SmartCity_Schema/UserSchema/Schema.xsd2"
	 targetNamespace="http://www.tibco.com/schemas/smatcity/SmartCity_Schema/UserSchema/Schema.xsd2"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="UserLoginResp" type="UserLoginRespType"/>
	<xs:complexType name="UserLoginRespType">
		<xs:sequence>
			<xs:element ref="status"/>
			<xs:element ref="message"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="status" type="xs:string"/>
	<xs:element name="message" type="xs:string"/>
</xs:schema>