sourceCode/smartCity/SmartCity_Project/CommonModel/UserSchema/UserRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/smatcity/SmartCity_Project/CommonModel/UserSchema/Schema.xsd"
	 targetNamespace="http://www.tibco.com/schemas/smatcity/SmartCity_Project/CommonModel/UserSchema/Schema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="UserReq" type="UserReqType"/>
	<xs:complexType name="UserReqType">
		<xs:sequence>
			<xs:element ref="Search_criteria"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Search_criteria" type="xs:string"/>
</xs:schema>